In [64]:
import os
os.system('sh UnzipFiles.sh')

256

In [31]:
import pandas as pd
import numpy as np

In [65]:
import os
path = os.path.join('..','Resources','Data','RawData')

In [68]:
aislesData = pd.read_csv(f'{path}/aisles.csv')

In [69]:
aislesData.head()

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation