# Instacart Analysis: Data Engineering
by Raul Maldonado

![Data Engineering gif](https://cdn-images-1.medium.com/max/1600/1*M-yL4Huuef6gw_blv9c-Xg.gif)

## Intialization

In [64]:
import os
os.system('sh UnzipFiles.sh')

256

In [31]:
import pandas as pd
import numpy as np
import os
path = os.path.join('..','Resources','Data','RawData')

In [73]:
! ls ../Resources/Data/RawData

__MACOSX                  order_products__prior.csv products.csv
aisles.csv                order_products__train.csv sample_submission.csv
departments.csv           orders.csv

In [80]:
aislesData = pd.read_csv(f'{path}/aisles.csv')
departmentsData = pd.read_csv(f'{path}/departments.csv')
productsData = pd.read_csv(f'{path}/products.csv')
ordersData = pd.read_csv(f'{path}/orders.csv')

## Explortation

## Data Overview

1. Aisles Data
    
    a. Reference Table of Categorized Aisles
    
2. Departments Data

    a. Reference Table of Categorized Departments

3. Products Data

    a. Reference Table of Product Names with associated Aisles and Departments for every unique product
    
4. Orders Data

    a. Main Transaction Table

In [88]:
list(aislesData.columns)

['aisle_id', 'aisle']

In [79]:
departmentsData.columns

Index(['department_id', 'department'], dtype='object')

In [78]:
productsData.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id'], dtype='object')

In [81]:
ordersData.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [89]:
productsData.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [90]:
ordersData.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

## Transformation